/.venv/
/.idea/
secrets.env
*.egg-info/
.venv/
.env
__pycache__/
uv.lock
settings.json
.DS_Store
backend/alembic/versions/
backend/benchmarking_scripts/data/input/*
backend/benchmarking_scripts/data/output/*
