@import "tailwindcss";

@theme {
	--color-*: initial;
	/* https://www.nordtheme.com/docs/colors-and-palettes */
	--color-nord0: #2E3440;
	--color-nord1: #3B4252;
	--color-nord2: #434C5E;
	--color-nord3: #4C566A;
	--color-nord4: #D8DEE9;
	--color-nord5: #E5E9F0;
	--color-nord6: #ECEFF4;
	--color-nord7: #8FBCBB;
	--color-nord8: #88C0D0;
	--color-nord8-light: color-mix(in srgb, #88C0D0 70%, white 30%);
	--color-nord9: #81A1C1;
	--color-nord10: #5E81AC;
	--color-nord11: #BF616A;
	--color-nord12: #D08770;
	--color-nord13: #EBCB8B;
	--color-nord14: #A3BE8C;
	--color-nord15: #B48EAD;
}

.stripes-running {
	background: repeating-linear-gradient(45deg,
			transparent,
			transparent 20px,
			var(--color-nord4) 20px,
			var(--color-nord4) 40px);
	background-size: 56px 56px;
	animation: moveStripes 1s linear infinite;
}

.stripes-failed {
	background: repeating-linear-gradient(45deg,
			transparent,
			transparent 20px,
			color-mix(in hsl, var(--color-nord11) 30%, transparent 70%) 20px,
			color-mix(in hsl, var(--color-nord11) 30%, transparent 70%) 40px);
	background-size: 56px 56px;
}

@keyframes moveStripes {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 56px 0;
	}
}

.tint-accepted,
.tint-rejected {
	position: relative;
}

.tint-accepted::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: color-mix(in srgb, var(--color-nord14) 30%, transparent);
	pointer-events: none;
}

.tint-rejected::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: color-mix(in srgb, var(--color-nord11) 30%, transparent);
	pointer-events: none;
}
